body {
  max-width: 560px;
  margin: 0 auto;
  color: rgb(56, 56, 56);
  padding: 24px;
  font-size: 18px;
  background-color: #fdfdfd;
}

a {
  color: darkblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  h1 {
    font-size: 1em;
    font-weight: 400;
  }
  nav {
    display: flex;
    gap: 1.2em;
  }
}

pre {
  padding: 2px 4px;
  overflow-x: auto;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #333;
}

.gist-file {
  border: 1px solid #333 !important;
}
