body {
  max-width: 560px;
  margin: 0 auto;
  color: rgb(56, 56, 56);
  padding: 24px;
  font-size: 18px;
  background-color: #fdfdfd;
}

a {
  color: darkblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  h1 {
    font-size: 1em;
    font-weight: 400;
  }
  nav {
    display: flex;
    gap: 1.2em;
  }
}

pre {
  background-color: #333333;
  color: #d4d4d4;
  padding: 15px;
  border-radius: 4px;
  overflow-x: auto;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #333;
}

.project-list {
  a {
    display: block;
    padding: 6px 12px;
    margin-bottom: 4px;
  }
  a:hover {
    background-color: darkblue;
    color: white;
    text-decoration: none;
  }
}
